<!DOCTYPE html>
<html lang="en" dir="ltr">

  <link rel="stylesheet" href="style.css">

  <style>
    body {
      color: var(--light-primary)
    }
  </style>

  <head>
      <meta charset="utf-8">
      <title>Change password</title>
  </head>
  <div class="area" >
    <ul class="anim">
        <li>
            <img src="icons/leftTruck.png" style="scale: 17%; position: absolute; bottom: -380px; left: -500px">
        </li>
        <li>
            <img src="icons/truck.png" style="scale: 17.3%; position: absolute; bottom: -380px; left: -500px">
        </li>
        
    </ul>
    <div style="z-index: 0;position: absolute; bottom: 8%; width: 100%; height: 70px; background-color: #403f3c"></div>
    <div style="z-index: 0;position: absolute; bottom: 8%; width: 100%; height: 35px; background-color: #403f3c; border-top: dashed white 3px;"></div>
</div >
  <body>

          <h1 style="text-align: center">Change Password</h1>


          <div class = "card" style="text-align: center">
              <h2 style= "text-align: center">
                  Enter Username and New Password</h2>
              <br>
              <br>

              <form name="myForm">
                <div style="text-align: center">
                    <input type="text" class= "inputField" placeholder="Username" name="username" required>
                    <br>
                    <br>
                    <input class= "inputField" placeholder="New Password" type="password" id="pwd" name="newpassword" required>
                    <br>
                    <br>
                    <input class= "inputField" placeholder="Confirm Password" type="password" id="pwd" required>
                    <br>
                    <br>
                </div>

                <div style="text-align: center">
                  <input type="submit" class="inputField" value="Submit" style="background-color: var(--dark); color: var(--light-primary); border-radius: 5px">
                  <br>
                  <br>
                  <a style="color: var(--light-primary)"href="login.html">Return to login page</a>
                </div>
              </form>
          </div>

  </body>
</html>
