<!DOCTYPE html>
<html lang="en" dir="ltr">

  <link rel="stylesheet" href="style.css">

  <style>
    body {
      color: var(--light-primary)
    }
  </style>

  <head>
      <meta charset="utf-8">
      <title>Change password</title>
  </head>

  <body>

          <h1 style="text-align: center">Change Password</h1>


          <div style="background-color: var(--dark); width: max(450px); height; max(600px); margin: auto; padding: 25px; padding-top: 2px">
              <h2 style= "text-align: center">
                  Enter username and new password</h2>
              <br>
              <br>

              <form name="myForm">
                <div style="text-align: right; padding-right: 10%">
                    Username:
                    <input type="text" name="username" required>
                    <br>
                    <br>
                    New password:
                    <input type="password" id="pwd" name="newpassword" required>
                    <br>
                    <br>
                    Confirm new password:
                    <input type="password" id="pwd" required>
                    <br>
                    <br>
                </div>

                <div style="text-align: center">
                    <input type="submit" value="Submit">
                    <br>
                    <br>
                    <a href="login.html">Return to login page</a>
                </div>
              </form>
          </div>

  </body>
</html>
