<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Original Food Store</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div class="header row">
			<div class="col-1 col-s-11">
				Icon
			</div>
			<div>
			
				<div id="accountLinks">
				Account info
				</div>
				<div id="search_and_cart">
				
					<div id="search">
						Test
						
					</div>
					<div id="cart">
					Cart Icon
					</div>
				
				</div>
			
			</div>
		
		</div>
		
		
		
		
    </body>
</html>
