html {
	font-family: "Lucida Sans", sans-serif;
	background-color: #AAAAAA;
}

* {
	box-sizing: border-box;

	
}



.row::after {
	content: "";
	clear: both;
	display: table;
}

[class*="col-"] {
  float: left;
  width:100%;

}



@media only screen and (min-width: 500px) {
	/* For tablets: */
	.col-s-1 {width: 8.33%;}
	.col-s-2 {width: 16.66%;}
	.col-s-3 {width: 25%;}
	.col-s-4 {width: 33.33%;}
	.col-s-5 {width: 41.66%;}
	.col-s-6 {width: 50%;}
	.col-s-7 {width: 58.33%;}
	.col-s-8 {width: 66.66%;}
	.col-s-9 {width: 75%;}
	.col-s-10 {width: 83.33%;}
	.col-s-11 {width: 91.66%;}
	.col-s-12 {width: 100%;}
}

@media only screen and (min-width: 800px) {
	/* For desktop: */
	.col-1 {width: 8.33%;}
	.col-2 {width: 16.66%;}
	.col-3 {width: 25%;}
	.col-4 {width: 33.33%;}
	.col-5 {width: 41.66%;}
	.col-6 {width: 50%;}
	.col-7 {width: 58.33%;}
	.col-8 {width: 66.66%;}
	.col-9 {width: 75%;}
	.col-10 {width: 83.33%;}
	.col-11 {width: 91.66%;}
	.col-12 {width: 100%;}
}







.whitebox {
	background-color: white;
	margin: 5px;
	padding: 10px;
}



#search {
	background-color:red;

}

.header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;
}

.header a {

  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header a:hover {
  background-color: #ddd;
  color: black;
}







.header input[type=text] {
	padding: 6px;
	margin-top: 8px;
	font-size: 17px;
	border: none;
}

.header .search-container button {

	padding: 6px 10px;
	margin-top: 8px;
	margin-right: 16px;
	background: #ddd;
	font-size: 17px;
	border: none;
	cursor: pointer;
}

.header .search-container button:hover {
	background: #ccc;
}




@media screen and (max-width: 500px) {
  .header a, .header .search-container button{
 
    display: block;
    text-align: left;
	width: 100%;
	margin: 0;
	padding: 14px;
  }	


  .header .search-container button {

		display: block;
		
	}
  
  .header input[type=text] {
	 
		display: block;
		text-align left;
		width: auto;
		margin 0;
		padding: 14px;
	  border: 1px solid #ccc;
}
