:root {
	--dark: #1c3144;
	--secondary: #4392f1;
	--light-secondary: #59d2fe;
	--light-primary: #88d498;
	--primary: #1a936f;
}

html {
	overflow-x: hidden;
	font-family: "Lucida Sans", sans-serif;
	background-color: var(--light-primary);
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}


* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;

	
}


a {
	color: #46b35e; 
	text-decoration: none;
	z-index:1000;
}

a:hover{
	color: var(--dark);
	text-decoration: underline;
}


.row::after {
	content: "";
	clear: both;
	display: table;
}

[class*="col-"] {
  float: left;
  width:100%;

}


@media only screen and (min-width: 500px) {
	/* For tablets: */
	.col-s-1 {width: 8.33%;}
	.col-s-2 {width: 16.66%;}
	.col-s-3 {width: 25%;}
	.col-s-4 {width: 33.33%;}
	.col-s-5 {width: 41.66%;}
	.col-s-6 {width: 50%;}
	.col-s-7 {width: 58.33%;}
	.col-s-8 {width: 66.66%;}
	.col-s-9 {width: 75%;}
	.col-s-10 {width: 83.33%;}
	.col-s-11 {width: 91.66%;}
	.col-s-12 {width: 100%;}
}

@media only screen and (min-width: 800px) {
	/* For desktop: */
	.col-1 {width: 8.33%;}
	.col-2 {width: 16.66%;}
	.col-3 {width: 25%;}
	.col-4 {width: 33.33%;}
	.col-5 {width: 41.66%;}
	.col-6 {width: 50%;}
	.col-7 {width: 58.33%;}
	.col-8 {width: 66.66%;}
	.col-9 {width: 75%;}
	.col-10 {width: 83.33%;}
	.col-11 {width: 91.66%;}
	.col-12 {width: 100%;}
}


.header a img{
	height: 100%;
	width: auto;
}

.whitebox {
	background-color: white;
	margin: 5px;
	padding: 10px;
}


.header {
  overflow: hidden;
  position: fixed;
  padding-top: 20px;
  padding-bottom: 10px;
  background-color: var(--dark);
  top: 0;
  width: 100%;
  box-shadow: 0px 0px 10px grey;
  z-index: 100;
}

.header a {
  height: 100px;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  color: var(--light-primary);
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
  float: left;
}

.header a:hover {
  color: var(--primary);
  
}

.search-container {
	float: left;
	width: 60%;
}

.header input[type=text] {
	padding: 10px;
	font-size: 17px;
	border: 1px solid #aaaaaa;
	float: left;
	width: 80%;
	
	background: #f1f1f1;
}


.search-container button {
	margin: 0px;
	float: left;
	width: 50px;
	margin-left: 10px;
	font-size: 17px;
	border-left: none;
	cursor: pointer;
	border: none;
	height: 40px;
	background: none;
	color: var(--light-primary);
}

.search-container button:hover {
	color: var(--primary);
}

.header a.cart {
	margin: 0px;
	padding: 0px;
	float: right;
	
	width: auto;
	height: 50px;
}

.header a.logo {
	margin: 0px;
	padding: 0px;
	
	float: left;
	
	width: 100px;
	height: 50px;
}

.header a.cart svg {
	margin: none;
	padding: none;
	height: 100%;
}

.itemTile {
	transition: box-shadow .2s;
	width: 180px;
	height: 240px;
	background-color: white;
	border: 1px solid grey;
	border-radius: 5%;
	display: flex;
    flex-direction: column;
    align-items: center;
}

ul {
	list-style-type: none;
}

.itemTile img {
	width: 100px;
	height: auto;
	margin: auto;
}

.itemTile:hover {
	/* box-shadow: 0px 0px 10px var(--light-secondary); */
	transform: scale(1.0314);
}

.card {
	background: linear-gradient(180deg, #1c3144 20%, white 20%);
	width: max(450px); 
	height: auto; 
	margin: auto;  
	padding-top: 2px;
	padding-bottom: 20px;
	border-radius: 25px;
	top: 0%;
	z-index: 100;
}

.background {
	width: 100%;
	height: 100%;
	background-color: blue;
}

.cartTile {
	height: 160px;
	width: 900px;
	border: none;
	background-color: white;
	border-bottom: 1px solid grey;
	padding-left:1%;
}

.searchTile {
	height: 160px;
	width: 100%;
	border: none;
	background-color: white;
	border-bottom: 1px solid grey;
	padding-left:1%;
}

.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 25px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
}

.prev {
	left: 0;
	border-radius: 3px 0 0 3px;
}

.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
	background-color: rgba(0,0,0,0.8);
}

.mySlides {
	display: none;
}

#cart li {
	list-style-type: none;
}

#checkoutColumn li {
	list-style-type: none;
}

.inputField {
	width: 400px;
	height: 50px;
	font-size: larger;
	border: 1px solid black;
}

.top-screen {
	display:flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	max-height: 10vh; 
}

.center-screen {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	min-height: 90vh;
}

#submitButton {
	background-color: var(--dark); 
	color: #46b35e; 
	border-radius: 5px;
}

#submitButton:hover{
	background-color: rgb(34, 61, 85);
}
  

@media screen and (max-width: 500px) {
  	.header a, .header {
 
		display: block;
		text-align: left;
		width: 100%;
		margin: 0;
		padding: 14px;
	}	
}


.card p{
	animation-duration: 3s;
	animation-delay: 0s;
	animation-name: slidein;
	animation-iteration-count: infinite;
}

.panelOne {
	animation: panelSlide 24s  ease-in-out infinite;
}


@keyframes slidein {
	from {
	  margin-left: 100%;
	  width: 300%;
	}
  
	to {
	  margin-left: 0%;
	  width: 100%;
	}
}


*{
    margin: 0px;
    padding: 0px;
}


.anim{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
	z-index: 1;
}

.anim li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    bottom: -150px;
	z-index: 1;
    
}

.anim li:nth-child(1){
    left: 120%;
	bottom: 16%;
    width: 0px;
    height: 0px;
	animation-duration: 10s;
    animation-delay: 0s;
	animation: rightLeft 10s ease-out infinite;
	background-color: none;
	border-radius: 48%;
	z-index: 2;
}

.anim li:nth-child(2){
    left: 0%;
	bottom: 12%;
    width: 0px;
    height: 0px;
	animation-duration: 12s;
    animation-delay: 6s;
	animation: leftRight 12s ease-out infinite;
	background-color: none;
	border-radius: 48%;
	z-index: 2;
}

.anim li:nth-child(3){
    left: 0%;
	bottom: 12%;
    width: 0px;
    height: 0px;
	animation-duration: 12s;
    animation-delay: 8s;
	animation: leftRight 12s 8s ease-out infinite;
	background-color: none;
	border-radius: 48%;
	z-index: 2;
}


@keyframes rightLeft {
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;        
    }
    100%{
        transform: translatex(-2000px) rotate(0deg);
        opacity: 1;
    }
}

@keyframes leftRight {
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;        
    }
    100%{
        transform: translatex(2000px) rotate(0deg);
        opacity: 1;
    }
}

@keyframes panelSlide {
	0%{
	}
	16.6%{
		transform: translateX(0);
	}
	33.3%{
		transform: translateX(-100%);
	}
	50%{
		transform: translateX(-100%);
	}
	66.6%{
		transform: translateX(-200%);
	}
	83.3%{
		transform: translateX(-200%);
	}
	100%{
		transform: translateX(-300%);
	}

}






